{{define "main"}}
<section class="Hero">
  <div class="Hero-gridContainer">
    <div class="Hero-blurb">
      <h1>Build fast, reliable, and efficient software at scale</h1>
      <h2>
        Go is an open source programming language supported by Google.
      </h2>
    </div>
    <div class="Hero-actions">
      <a class="Primary" href="/learn">Get Started</a>
      <a href="https://golang.org/dl">Download Go</a>
    </div>
    <div class="Hero-gopher">
      <img class="Hero-gopherLadder" src="/images/gophers/ladder.svg" alt="Go Gopher climbing a ladder.">
    </div>
  </div>
</section>
<section class="WhoUses">
  {{$solutions := index (where .Pages "Section" "solutions") 0}}
  <div class="WhoUses-gridContainer">
    <div class="WhoUses-header">
      <h2>Companies Using Go</h2>
    </div>
    <ul class="WhoUses-caseStudyList">
      {{range where $solutions.Pages "Params.series" "Case Studies"}}
        <li class="WhoUses-caseStudy">
        {{if isset .Params "link" }}
          <a href="{{.Params.link}}" target="_blank">
            {{$logo := .Resources.GetMatch "logo"}}
            <img src="{{$logo.RelPermalink}}" class="WhoUses-logo" alt="{{$logo.Params.alt}}">
            <p>View article</p>
          </a>
        {{else}}
          <a href="{{.RelPermalink}}">
            {{$logo := .Resources.GetMatch "logo"}}
            <img src="{{$logo.RelPermalink}}" class="WhoUses-logo" alt="{{$logo.Params.alt}}">
            <p>View case study</p>
          </a>
        {{end}}
        </li>
      {{end}}
    </ul>
  </div>
</section>
<section class="WhyGo">
  <div class="WhyGo-gridContainer">
    <div class="WhyGo-header">
      <h2>Why Go</h2>
    </div>
    <ul class="WhyGo-reasons">
      <li class="WhyGo-reason">
        <div class="WhyGo-reasonIcon" role="presentation">
          <img src="/images/star-24px.svg" alt="Star."/>
        </div>
        <div class="WhyGo-reasonText">
          <h3 class="WhyGo-reasonTitle">Easy to Learn</h3>
          <p>
              “At the time, no single team member knew Go, but <b>within a month, everyone was writing in Go</b> and we were building out the
              endpoints. It was the flexibility, how easy it was to use, and the really cool concept behind Go (how Go handles native
              concurrency, garbage collection, and of course safety+speed.) that helped engage us during the build. Also, who can beat
              that cute mascot!”
          </p>
          <p style="text-align: right;">
          - <a
          href="https://medium.com/capital-one-tech/a-serverless-and-go-journey-credit-offers-api-74ef1f9fde7f"
          target="_blank">Jaime Enrique Garcia Lopez, Senior Software Development Manager at CapitalOne</a>
          </p>

        </div>
      </li>
      <li class="WhyGo-reason">
        <div class="WhyGo-reasonIcon" role="presentation">
          <img src="/images/star-24px.svg" alt="Star."/>
        </div>
        <div class="WhyGo-reasonText">
          <h3 class="WhyGo-reasonTitle">Efficient</h3>
          <p>
              <b>"A small language that compiles fast makes for a happy developer.</b> The Go language is small, compiles really fast, and as
              a result it lets your mind focus on the actual problem and less on the tool you are using to solve it. Code, test, debug
              cycles are so quick that you forget you are not working with an interpreted language. Looking at our code, you see <b>less
              boilerplate and more business logic</b>."
          </p>
          <p style="text-align: right;">
          - <a
          href="https://blog.gopheracademy.com/birthday-bash-2014/openshift-3-old-dogs-new-tricks/"
          target="_blank">Clayton Coleman, lead engineer, Open Shift at RedHat</a>
          </p>
        </div>
      </li>
      <li class="WhyGo-reason">
        <div class="WhyGo-reasonIcon" role="presentation">
          <img src="/images/star-24px.svg" alt="Star."/>
        </div>
        <div class="WhyGo-reasonText">
          <h3 class="WhyGo-reasonTitle">Ideal for Scale & Microservices</h3>
          <p>
              “<b>Go has excellent characteristics for scalability and services written using it typically have very 
              small memory footprints</b>. Because code is compiled into a single static binary, services can also be 
              containerised with ease, making it much simpler to build and deploy. These attributes make <b>Go an ideal 
              choice for companies building microservices</b>, as you can easily deploy into a highly available and scalable 
              environment such as Kubernetes.” 
          </p>
          <p style="text-align: right;">
          - <a
          href="https://www.computerweekly.com/blog/Open-Source-Insider/Golang-or-go-home-how-Curve-is-taking-Golang-to-new-heights"
          target="_blank">Matt Boyle, lead software engineer at Curve</a>
          </p>
        </div>
      </li>
    </ul>
    <div class="WhyGo-gopher">
      <img src="images/gophers/biplane.svg" alt="Go Gopher piloting a biplane."> 
    </div>
  </div>
</section>
<section class="UseCases">
  {{$solutions := index (where .Pages "Section" "solutions") 0}}
  <div class="Container">
    <div class="UseCases-gridContainer">
      <div class="UseCases-header">
        <h2>Use Cases</h2>
      </div>
      {{range where $solutions.Pages "Params.series" "Use Cases"}}
        <div class="UseCase">
          <div class="UseCase-logo">
            {{$icon := .Resources.GetMatch "icon-white"}}
            {{if $icon}}
            <img alt="{{$icon.Params.alt}}" src="{{$icon.RelPermalink}}">
            {{end}}
          </div>
          <h3 class="UseCase-title">{{.LinkTitle}}</h3>
          <p class="UseCase-description">
            {{.Description}}
          </p>
          <p class="UseCase-action">
            <a href="{{.RelPermalink}}">Learn More &gt;</a>
          </p>
        </div>
      {{end}}
    </div>
  </div>
</section>
<section class="LearnGo">
  <div class="LearnGo-gridContainer">
    <div class="LearnGo-header">
      <h2>Learn Go</h2>
      <p>Join the Go community and start learning</p>
    </div>
    <div class="LearnGo-subHeader">
      <h3>Courses</h3>
      <p class="LearnGo-viewMore">
        {{if gt (len $.Site.Data.learn.courses.links) 4}}
          <a href="#">View More &gt;</a>
        {{end}}
      </p>
    </div>
    <ul class="LearnGo-courses">
      {{range first 4 $.Site.Data.learn.courses.links}}
      <li class="LearnGo-courseItem">
        <div class="LearnGo-course">
          <a href="{{.url}}">
            <div class="LearnGo-courseImage">
              {{if .thumbnail}}
                <img alt="{{.title}} thumbnail." src="{{.thumbnail}}">
              {{end}}
            </div>
            <p class="LearnGo-courseTitle">{{.title}}</p>
          </a>
        </div>
      </li>
      {{end}}
    </ul>
    <div class="LearnGo-subHeader">
      <h3>Events</h3>
      <p class="LearnGo-viewMore"><a href="https://www.meetup.com/pro/go">View more events &gt;</a></p>
    </div>
    <ul class="LearnGo-events">
      {{range first 3 $.Site.Data.events.all}}
        <li class="LearnGo-eventItem">
          <div class="LearnGo-eventThumbnail {{if not .thumbnailurl}}LearnGo-eventThumbnail--noimage{{end}}">
            {{if .thumbnailurl}}
              <img src="{{.thumbnailurl}}" alt="{{.name}} group photo."/>
            {{end}}
          </div>
          <div class="LearnGo-eventBody">
            <div class="LearnGo-eventDate">
              <p>{{.local_date}}</p>
              <p>{{.city}}, {{.state}} {{.country}}</p>
            </div>
            <div class="LearnGo-eventText">
              <h4 class="LearnGo-eventName">
                <a href="{{.url}}">{{.name}}</a>
              </h4>
              <p class="LearnGo-eventDescription">
                {{.description | safeHTML}}
              </p>
            </div>
            <p class="LearnGo-viewMore"><a href="{{.url}}">Learn more &gt;</a></p>
          </div>
        </li>
      {{end}}
    </ul>
  </div>
</section>
{{end}}
