*,
:before,
:after {
  box-sizing: border-box;
}
html,
.Site {
  height: 100%;
}
a,
a:link,
a:visited {
  color: #007d9c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.Site {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.Site--blue {
  background: linear-gradient(45deg, #007d9c 35%, #00a29c) no-repeat center center fixed;
}
.Site-content {
  flex: 1;
}
.Site-footer {
  background-color: #253443;
  color: #fff;
  font-size: 14px;
}
.Header,
.Footer,
.Container {
  margin: 0 auto;
  max-width: 75.75rem;
}
.Footer {
  padding: 2.625rem 1.5rem;
}
.Container--fullBleed {
  margin: 0;
  max-width: none;
}
.Header {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 1.5rem;
}
.Header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Header--dark {
  border-bottom: none;
  color: #fff;
}
.Header-logo {
  display: block;
  height: 32px;
  width: 82px;
  margin: 1rem 0;
}
.Header-menuItem {
  display: none;
}
.Header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 57.7rem) {
  .Header-menuItem {
    display: inline-flex;
  }
}
.Header-menuItem a:link,
.Header-menuItem a:visited {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent; /* To ensure the text remains centered. */
  color: #3e4042;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  width: 100%;
  margin: 0 15px;
  text-align: center;
}
.Header--dark .Header-menuItem a:link,
.Header--dark .Header-menuItem a:visited {
  color: #fff;
}
.Header-menuItem--active a:link,
.Header-menuItem--active a:visited {
  border-bottom-color: #00add8;
  font-weight: bold;
}
.Header-menuItem a:hover {
  border-bottom-color: #542c7d;
  color: #3e4042;
}
.Article {
  color: #202224;
  margin: 0 auto 30px;
  max-width: 45em;
}
.Article-author,
.Article-date {
  font-size: 16px;
  line-height: 1.4;
}
.Article-date {
  color: #6e7072;
}
.Article h1,
.Article h2,
.Article h3,
.Article h4,
.Article h5,
.Article h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.Article h1 {
  font-size: 30px;
}
.Article h2 {
  font-size: 24px;
}
.Article h3 {
  font-size: 18px;
}
.Article h4,
.Article h5,
.Article h6 {
  font-size: 16px;
}
.Article p,
.Article ul,
.Article ol {
  color: #555759;
  font-size: 18px;
  line-height: 1.6;
}
.Article pre {
  background-color: #f8f9f9;
  border: 1px solid #dcdee0;
  border-radius: 6px;
  color: #3e4042;
  font-size: 16px;
  line-height: 1.45;
  overflow-x: auto;
  padding: 24px;
}
.Article pre,
.Article code {
  color: #3e4042;
  font-family: 'Source Code Pro', monospace;
}
.WhoUses-gridContainer,
.WhyGo-gridContainer,
.UseCases-gridContainer,
.LearnGo-gridContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75.75rem;
  padding: 2.625rem 1.5rem;
}
@media only screen and (min-width: 57.7rem) {
  .WhoUses-gridContainer,
  .WhyGo-gridContainer,
  .UseCases-gridContainer,
  .LearnGo-gridContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.WhyGo,
.WhoUses {
  background-color: #fff;
}
.LearnGo,
.UseCases {
  background-color: #f6f8fa;
}
.WhoUses-header,
.UseCases-header,
.WhyGo-header,
.LearnGo-header {
  flex: 0 0 100%;
  text-align: center;
}
.WhoUses-header h2,
.UseCases-header h2,
.WhyGo-header h2,
.LearnGo-header h2 {
  letter-spacing: 0.125rem;
  margin-top: 0;
  text-transform: uppercase;
}
.Hero {
  color: #fff;
}
.Hero h1 {
  font-size: 2.625rem;
  line-height: 1.125rem;
}
.Hero h2 {
  font-size: 1.5rem;
  font-weight: normal;
  max-width: 29rem;
}
.Hero-gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75.75rem;
  padding: 2.625rem 1.5rem 0;
}
.Hero-actions {
  align-items: center;
  display: flex;
  flex: 3 1;
  flex-direction: column;
  justify-content: center;
  padding-right: 24px;
}
.Hero-actions a,
.Hero-actions a:visited,
.Hero-actions a:hover {
  color: #fff;
  max-width: 13.75rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: underline;
  margin: 0.5rem  0;
}
.Hero-actions a.Primary {
  background-color: #fddd00;
  border: 1px solid #fddd00;
  border-radius: 4px;
  margin: 1.3125rem 1.25rem 0;
  height: 4rem;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #202224;
  font-size: 1.5rem;
  text-decoration: none;
}
.Hero-gopher {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}
.Hero-gopherLadder {
  width: 153px;
  height: 355px;
  object-fit: cover;
  object-position: 100% 0;
}
.Hero-blurb {
  margin: auto;
  flex: 0 0 100%;
}
@media only screen and (min-width: 57.7rem) {
  .Hero-actions {
    justify-content: initial;
    flex: 1 1;
  }
  .Hero-actions a,
  .Hero-actions a:visited,
  .Hero-actions a:hover {
    max-width: 17.5rem;
  }
  .Hero-blurb {
    flex: 2 2;
    margin: 0;
  }
  .Hero-gopher {
    flex: 1;
  }
  .Hero-gopherLadder {
    height: 358px;
    width: 183px;
  }
  .Hero h2 {
    max-width: 30rem;
  }
}
.WhoUses-caseStudyList {
  align-content: center;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}
.WhoUses-caseStudy {
  display: flex;
  flex: 0 1 11.375rem;
  height: 11.6875rem;
  justify-content: center;
  margin: 1em;
}
.WhoUses-caseStudy p {
  margin-bottom: 0;
}
.WhoUses-caseStudy a:link,
.WhoUses-caseStudy a:visited {
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
  color: #6e7072;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 11.375rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.WhoUses-logo {
  margin: auto;
  max-height: 120px;
  max-width: 150px;
}
@media only screen and (min-width: 57.7rem) {
  .WhoUses-caseStudy {
    flex: 0 1 33%;
    margin: 0;
  }
  .WhoUses-caseStudy a:link,
  .WhoUses-caseStudy a:visited {
    box-shadow: 0 2px 8px 0 transparent;
    color: transparent;
  }
  .WhoUses-caseStudy a:link:hover,
  .WhoUses-caseStudy a:visited:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
    color: #6e7072;
  }
}
@media only screen and (min-width: 66.75rem) {
  .WhoUses-caseStudy {
    flex: 1;
  }
}
.UseCases-gridContainer {
  flex-direction: row;
  justify-content: space-around;
  margin: -1em 0 0 -1em; /* Offset gutters for the leftmost and top cells in the grid. */
}
.UseCase {
  flex: 1 0 15.625rem;
  margin-top: 1rem;
  max-width: 15.625rem;
  padding: 1em 0 0 1em; /* Gutter between grid cells. */
}
.UseCase-logo {
  align-items: center;
  background: linear-gradient(10.64deg, #007d9c 0%, #00a29c 100%);
  border-radius: 50%;
  display: flex;
  height: 3.75rem;
  justify-content: center;
  margin: auto;
  width: 3.75rem;
}
.UseCase-logo img {
  height: 2.625rem;
  width: 2.625rem;
}
.UseCase-title {
  text-align: center;
}
.UseCase-action {
  font-size: 1.125rem;
  line-height: 2.5rem;
  text-align: center;
}
.WhyGo-gridContainer {
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.WhyGo-reasons {
  flex: 2 2 50%;
  list-style: none;
  padding-left: 0;
}
.WhyGo-reason {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  max-width: 31.25rem;
  padding-right: 1em;
}
.WhyGo-reasonText {
  margin-left: 1.25rem;
}
.WhyGo-reasonTitle {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0;
}
.WhyGo-reasonIcon {
  align-items: center;
  background: linear-gradient(10.64deg, #007d9c 0%, #00a29c 100%);
  border-radius: 50%;
  color: white;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-top: .125rem;
  min-width: 1.5rem;
  text-align: center;
}
.WhyGo-reasonIcon img {
  height: 20px;
}
.WhyGo-gopher {
  flex: 1 1 50%;
  max-width: 28.4375rem;
  text-align: center;
}
.WhyGo-gopher img {
  width: 100%;
}
.LearnGo-subHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.LearnGo-subHeader h3 {
  color: #6e7072;
  font-size: 1rem;
  font-weight: normal;
}
.LearnGo-viewMore a {
  font-weight: 600;
}
.LearnGo-courses {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 1rem -1rem; /* Offset gutters for the leftmost and top cells in the grid. */
  padding-left: 0;
}
@media only screen and (min-width: 72.75rem) {
  .LearnGo-courses {
    justify-content: space-between;
  }
}
.LearnGo-courseItem {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0 0 1rem; /* Gutter between grid cells. */
}
.LearnGo-courseItem a {
  color: #3e4042;
}
.LearnGo-courseTitle {
  text-align: center;
}
.LearnGo-courseImage {
  align-items: center;
  background-color: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.22);
  display: flex;
  height: 11rem;
  justify-content: center;
  margin: auto;
  max-width: 16.5rem;
  width: 16.5rem;
  width: 16.5rem;
}
.LearnGo-courseImage img {
  max-height: 100%;
  max-width: 100%;
}
.LearnGo-events {
  background-color: #fff;
  border: 0.0625rem solid rgba(155, 155, 155, 0.19);
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.8125rem 0 rgba(0, 0, 0, 0.26);
  flex: 1 0 100%;
  list-style: none;
  margin: 0.5rem 0 0;
  padding: 0.5rem 0;
  width: 100%;
}
.LearnGo-eventItem {
  align-items: flex-start;
  display: flex;
  margin: 0 1rem;
  padding: 1rem 0;
}
.LearnGo-eventItem + .LearnGo-eventItem {
  border-top: 1px solid #e0e0e0;
}
.LearnGo-eventThumbnail {
  display: flex;
  flex: 0 0 3rem;
  margin-right: 1rem;
}
.LearnGo-eventThumbnail--noimage {
  background-color: #d8d8d8;
}
.LearnGo-eventThumbnail img {
  height: auto;
  width: 3rem;
}
.LearnGo-eventBody {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}
.LearnGo-eventDate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.LearnGo-eventDate p {
  color: #6e7072;
  margin: 0;
}
.LearnGo-eventName {
  color: #007d9c;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.LearnGo-eventDescription {
  -webkit-box-orient: vertical; /* See webkit-line-clamp */
  display: -webkit-box; /* See webkit-line-clamp */
  -webkit-line-clamp: 4; /* Elide flex text. webkit-line-clamp is broadly compatible with browsers. */
  overflow: hidden;
  text-overflow: ellipsis;
}
.LearnGo-viewMore {
  margin: 0;
  min-width: 6.25rem;
}
@media only screen and (min-width: 57.7rem) {
  .LearnGo-eventThumbnail {
    flex-basis: 5.375rem;
    height: 5.375rem;
  }
  .LearnGo-eventThumbnail img {
    display: block;
    height: auto;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
  .LearnGo-eventDate {
    flex: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    min-width: 9rem;
  }
  .LearnGo-eventText {
    display: flex;
    flex: 2 1 23.4375rem;
    flex-direction: column;
    justify-content: space-around;
    max-height: 5.375rem;
    min-width: 0;
    padding-right: 2rem;
  }
  .LearnGo-eventDescription {
    -webkit-line-clamp: 2; /* see non-media-query definition. */
    margin: 0 0 0.5rem;
  }
  .LearnGo-viewMore {
    align-self: center;
    flex: 2;
    text-align: right;
  }
  .LearnGo-eventBody {
    display: flex;
    flex-direction: row;
  }
  .LearnGo-eventItem {
    align-items: center;
    margin: 0 3rem;
    padding: 1rem 0;
  }
}
.Footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6rem;
}
.Footer-linkColumn {
  padding-left: 6rem;
}
a.Footer-link {
  color: #fff;
  display: flex;
  flex: 1;
  font-size: .875rem;
  line-height: 2rem;
}
.Learn-title,
.Learn-gettingStarted,
.Learn-books,
.Learn-guided,
.Learn-inPersonTraining,
.Learn-meetups,
.Learn-online {
  padding: 0 1.5rem;
}
.Learn-books,
.Learn-guided,
.Learn-inPersonTraining,
.Learn-meetups,
.Learn-online {
  margin: 4rem 0;
}
.Learn-title h1 {
  font-size: 2.625rem;
  line-height: 3rem;
}
.Learn-gettingStarted {
  background-color: #fefadd;
  padding-top: 6rem;
}
.Learn-quickstartThumbnail {
  background-color: #e9e9e9;
  border-radius: 0.3125rem;
  height: 14.6875rem;
  width: 22rem;
}
.Learn-quickstarts {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 1rem -1rem; /* Offset gutters for the leftmost and top cells in the grid. */
  padding-inline-start: 0;
}
.Learn-quickstart {
  align-items: center;
  display: flex;
  flex: initial;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
}
.Learn-quickstart a,
.Learn-quickstart a:visited,
.Learn-quickstart a:hover {
  color: #3e4042;
  text-decoration: none;
}
.Learn-quickstartTitle {
  font-size: 1.25rem;
  text-align: center;
}
@media only screen and (min-width: 81.25rem) {
  .Learn-quickstarts {
    justify-content: space-between;
  }
}
.Learn-actions {
  margin: 0;
  padding: 1rem 0 3rem;
  text-align: center;
}
.Learn-viewMoreButton,
.Learn-viewMoreButton:visited,
.Learn-viewMoreButton:hover,
.Learn-viewMoreButton {
  background-color: #f5fcfe;
  border: 1px solid #00add8;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: inline-block;
  line-height: 2.2rem;
  padding: 0 2.3rem;
  text-align: center;
  text-decoration: none;
}
.Learn-subHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Learn-viewMore {
  align-self: center;
  font-size: 1.125rem;
  font-weight: 600;
}
.Learn-tileList {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 1rem -1rem; /* Offset gutters for the leftmost and top cells in the grid. */
  padding-left: 0;
}
@media only screen and (min-width: 72.75rem) {
  .Learn-tileList {
    justify-content: space-between;
  }
}
.Learn-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0 0 1rem; /* Gutter between grid cells. */
}
.Learn-tile a {
  color: #3e4042;
}
.Learn-tileTitle {
  font-size: 1.25rem;
  margin: auto;
  overflow-wrap: break-word;
  padding-top: 1.5rem;
  text-align: center;
  width: 12.75rem;
}
.Learn-tileThumbnail {
  align-items: center;
  background-color: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.22);
  display: flex;
  height: 11rem;
  justify-content: center;
  margin: auto;
  width: 16.5rem;
}
.Learn-tileThumbnail img {
  max-height: 100%;
  max-width: 100%;
}
.Learn-tileThumbnail--book {
  height: 13rem;
  width: fit-content;
}
.Learn-tileThumbnail--book img {
  max-height: 100%;
  max-width: 100%;
}
.Learn-inPersonList {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0.5rem 0 1rem -1rem; /* Offset gutters for the leftmost and top cells in the grid. */
  padding-left: 0;
}
.Learn-inPerson {
  border-bottom: 1px solid #e0e0e0;
  flex: 1 1 500px;
  margin: 0 0 0 1rem; /* Gutter between grid cells. */
  max-width: 31rem;
  padding-bottom: 1.25rem;
}
.Learn-inPerson:nth-child(1),
.Learn-inPerson:nth-child(2) {
  border-top: 1px solid #e0e0e0;
}
.Learn-inPersonTitle {
  font-size: 1.25rem;
}
.Learn-inPersonBlurb {
  margin: 0;
}
.Learn-events {
  flex: 1 0 100%;
  list-style: none;
  margin: 0.5rem 0 0;
  padding: 0;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.Learn-eventItem {
  display: flex;
  padding: 1rem 0;
}
.Learn-eventItem + .Learn-eventItem {
  border-top: 1px solid #e0e0e0;
}
.Learn-eventThumbnail {
  align-content: center;
  display: flex;
  height: 3rem;
  min-width: 3rem;
  width: 3rem;
}
.Learn-eventThumbnail--noimage {
  background-color: #d8d8d8;
}
.Learn-eventThumbnail img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
.Learn-eventBody {
  flex: auto;
  padding-left: 1rem;
}
.Learn-eventDate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.Learn-eventDate p {
  color: #6e7072;
  margin: 0;
}
.Learn-eventName {
  color: #007d9c;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
  max-width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Learn-eventDescription {
  -webkit-box-orient: vertical; /* See webkit-line-clamp */
  display: -webkit-box; /* See webkit-line-clamp */
  -webkit-line-clamp: 4; /* Elide flex text. webkit-line-clamp is broadly compatible with browsers. */
  overflow: hidden;
  text-overflow: ellipsis;
}
.Learn-viewMore {
  margin: 0;
}
@media only screen and (min-width: 57.7rem) {
  .Learn-eventThumbnail {
    height: 5.375rem;
    min-width: 5.375rem;
    width: 5.375rem;
  }
  .Learn-eventDate {
    flex: 2;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    min-width: 6rem;
  }
  .Learn-eventText {
    display: flex;
    flex: 2 1 23.4375rem;
    flex-direction: column;
    justify-content: space-around;
    max-height: 5.375rem;
    padding-right: 5rem;
  }
  .Learn-eventDescription {
    -webkit-line-clamp: 2; /* see non-media-query definition. */
    margin: 0 0 0.5rem;
  }
  .Learn-viewMore {
    align-self: center;
    flex: 2;
    text-align: right;
  }
  .Learn-eventBody {
    display: flex;
    flex-direction: row;
  }
  .Learn-eventItem {
    padding: 1rem 0;
  }
}
.Solutions-title,
.Solutions-headline,
.Solutions-useCases,
.Solutions-caseStudies {
  padding: 0 1.5rem;
}
.Solutions-useCases,
.Solutions-caseStudies {
  margin-bottom: 6.25rem;
}
.Solutions-title h1 {
  font-size: 2.625rem;
  line-height: 2rem;
}
.Solutions-headline {
  background-color: #fefadd;
}
.Solutions-headline p {
  font-size: 1.5rem;
  max-width: 23rem;
  padding: 2rem 0;
}
.Solutions-useCasesHeader h2,
.Solutions-caseStudiesHeader h2 {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
.Solutions-useCaseList {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 1rem -1rem;
  padding-left: 0;
}
.Solutions-useCase {
  display: flex;
  flex: 1;
  margin: 1rem 0 0 1rem; /* Gutter between grid cells. */
  padding: 1.4rem;
}
.Solutions-useCase {
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.22);
}
@media only screen and (min-width: 57.7rem) {
  .Solutions-useCase {
    border-radius: 0;
    box-shadow: none;
  }
  .Solutions-useCase:hover {
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.22);
    transition: all 0.2s ease-in-out;
  }
}
.Solutions-useCaseLogo {
  height: 3.875rem;
  width: 3.875rem;
}
.Solutions-useCaseTitle {
  margin: .75rem 0 0;
}
.Solutions-useCaseHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 14rem;
  text-align: center;
}
.Solutions-useCaseBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}
.Solutions-useCaseAction {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0;
}
.Solutions-caseStudyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 0 1rem -1rem; /* Offset gutters for the leftmost and top cells in the grid. */
  padding: 0;
}
.Solutions-caseStudy {
  margin: 1rem 0 0 1rem;
}
.Solutions-caseStudy p {
  flex: 0;
}
.Solutions-caseStudy a:link,
.Solutions-caseStudy a:visited {
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.22); /* padding: 0.25rem 1.5rem; */
  display: inline-flex;
  flex-direction: column;
  height: 11.375rem;
  text-align: center;
  width: 11.375rem;
}
.Solutions-caseStudyLogo {
  display: flex;
  flex: 1;
  justify-content: center;
}
.Solutions-caseStudyLogo img {
  align-self: center;
  max-height: 7.5rem;
  max-width: 7.5rem;
}
@media only screen and (min-width: 57.7rem) {
  .Solutions-caseStudy {
    flex: 0 1 33%;
    margin: 0;
  }
  .Solutions-caseStudy a:link,
  .Solutions-caseStudy a:visited {
    box-shadow: 0 0.125rem 0.5rem 0 transparent;
    color: transparent;
  }
  .Solutions-caseStudy a:link:hover,
  .Solutions-caseStudy a:visited:hover {
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.22);
    color: #6e7072;
    transition: all 0.2s ease-in-out;
  }
}
@media only screen and (min-width: 66.75rem) {
  .Solutions-caseStudy {
    flex: 1;
    padding: 1rem 0 0 1rem; /* Gutter between grid cells. */
    text-align: center;
  }
}
