{{define "books"}}
{{with (yaml .)}}
<ul class="Learn-tileList">
    {{range .}}
    <li class="Learn-tile">
        <a href="{{.url}}">
            {{if .thumbnail}}
              <img
              class="Learn-tileThumbnail Learn-tileThumbnail--book"
              alt="{{.title}} thumbnail." src="{{.thumbnail}}">
            {{end}}
            <span class="Learn-tileTitle">
                {{.title}}
            </span>
        </a>
    </li>
    {{end}}
</ul>
{{end}}
{{end}}
