{{define "breadcrumbnav"}}
{{- if .p1.Parent}}
  {{- template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )}}
{{- end}}
{{- if not (eq .p1.Title "go.dev")}}
      <li class="BreadcrumbNav-li {{if eq .p1 .p2}}active{{end}}">
        <a class="BreadcrumbNav-link" href="{{.p1.RelPermalink}}">
          {{- if isset .p1.Params "company"}}
            {{.p1.Params.company}}
          {{- else}}
            {{.p1.Title}}
          {{- end}}
        </a>
      </li>
{{- end}}
{{end}}

{{define "breadcrumbs"}}
<div class="BreadcrumbNav">
    <ol class="BreadcrumbNav-inner">
      {{template "breadcrumbnav" (dict "p1" . "p2" .)}}
    </ol>
</div>
{{end}}
