{{define "layout"}}

<article class="Talks Article">

{{with .dir}}
  <h1>Go talks</h1>

  {{with .Path}}<h2>{{.}}</h2>{{end}}

  {{with .Articles}}
  <h4>Articles:</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}" aria-describedby="talks-description">{{.Name}}</a>: {{.Title}}</dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Slides}}
  <h4>Slide decks:</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}" aria-describedby="talks-description">{{.Name}}</a>: {{.Title}}</dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Other}}
  <h4>Files:</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}" aria-describedby="talks-description">{{.Name}}</a></dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Dirs}}
  <h4>Sub-directories:</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}" aria-describedby="talks-description">{{.Name}}</a></dd>
  {{end}}
  </dl>
  {{end}}
{{end}}

</article>

<div class="screen-reader-only" id="talks-description" hidden>
          Opens in new window.
    </div>
{{end}}
