<div class="PullQuote">
  <div class="PullQuote-quoteHeader">
    <img class="PullQuote-image" src="/images/quote.svg" alt="Quotation mark.">
  </div>
  <p class="PullQuote-body">
    {{.Inner | markdownify}}
  </p>
  {{$author := .Get 0 -}}
  {{$title := .Get 1 -}}
  {{$company := .Get 2 -}}
  {{if .IsNamedParams -}}
    {{$author = .Get "author" -}}
    {{$title = .Get "title" -}}
    {{$company = .Get "company" -}}
  {{end -}}
  {{if $author -}}
  <div class="PullQuote-author">
    {{with .Get "link"}}
    <a
      class="PullQuote-link"
      href="{{.}}"
      target="_blank"
      rel="noopener">
    {{end -}}
    <span>
      &mdash; {{$author -}}
    </span>
    {{if $title -}},&nbsp;
      <span class="PullQuote-title">{{$title | safeHTML}}</span>
    {{end -}}
    {{if $company -}}
      <span class="PullQuote-title">&nbsp;at {{$company -}}</span>
    {{end -}}
    {{with .Get "link"}}</a>{{end -}}
  </div>
  {{end -}}
</div>
