<div class="QuoteBlock">
  <p class="QuoteBlock-body">
    {{.Inner | markdownify}}
  </p>
  {{$author := .Get 0 -}}
  {{$title := .Get 1 -}}
  {{if .IsNamedParams -}}
    {{$author = .Get "author" -}}
    {{$title = .Get "title" -}}
  {{end -}}
  {{if $author -}}
    <div class="QuoteBlock-author">
      {{with .Get "link"}}
        <a class="QuoteBlock-link" href="{{.}}" target="_blank" rel="noopener">
      {{end -}}
      &mdash; {{$author -}}
      {{if $title -}}
        ,&nbsp;<span>{{$title -}}</span>
      {{end -}}
      {{with .Get "link"}}</a>{{end -}}
    </div>
  {{end -}}
</div>
