<!DOCTYPE html>
<html lang="{{$.Site.LanguageCode | default "en"}}">
<head>
<meta charset="utf-8">
<meta name="description" content="Go is an open source programming language that makes it easy to build simple, reliable, and efficient software.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#00add8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:400,500,600|Roboto:400,700|Source+Code+Pro|Material+Icons">
{{$styles := resources.Get "css/styles.css" -}}
{{if .Site.IsServer -}}
  <link rel="stylesheet" href="{{$styles.RelPermalink}}">
{{else -}}
  {{$stylesFP := $styles | fingerprint -}}
  <link rel="stylesheet" href="{{$stylesFP.RelPermalink}}" integrity="{{$stylesFP.Data.Integrity}}" crossorigin="anonymous">
{{end -}}
{{if not .Site.IsServer -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.GoogleAnalyticsTrackingID}}"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', '{{.Site.Params.GoogleAnalyticsTrackingID}}');
</script>
{{end -}}
<script src="/js/site.js" defer></script>
<title>{{$.Site.Title}}</title>
{{if (isset .Params "link") -}}
<meta http-equiv="refresh" content="0; url={{.Params.link}}">
{{end -}}
</head>
<body class="Site">
<header class="Site-header">
  <div class="Header Header--dark">
    <nav class="Header-nav">
      <a href="{{.Site.BaseURL}}">
        <img class="Header-logo" src="/images/go-logo-white.svg" alt="Go">
      </a>
      <form class="SearchForm SearchForm--white" action="https://pkg.go.dev/search" role="search">
        <input class="SearchForm-input SearchForm-input--white" aria-label="Search for a package" type="text" name="q" size="1"
               placeholder="Search for a package" autocapitalize="off" autocomplete="off" autocorrect="off"
               spellcheck="false" title="Search for a package">
        <button class="SearchForm-submit" aria-label="Search for a package">
          <svg class="SearchForm-submitIcon SearchForm-submitIcon--white" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
               role="presentation">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
            <path fill="none" d="M0 0h24v24H0z"></path>
          </svg>
        </button>
      </form>
      <ul class="Header-menu">
        {{- $currentPage := .}}
        {{- range .Site.Menus.main}}
        {{- $url := .URL}}
        {{- if and (not $currentPage.Site.IsServer) (eq .Identifier "learn")}}
          {{- $url = "https://learn.go.dev"}}
        {{- end}}
        {{- if not $currentPage.Site.IsServer}}
          {{- $url = $url | absURL}}
        {{- end}}
        <li class="Header-menuItem {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.CurrentSection.Title .Title)}} Header-menuItem--active{{end}}">
          <a href="{{$url}}" title="{{.Title}}">{{.Name}}</a>
        </li>
        {{- end}}
      </ul>
      <button class="Header-navOpen js-headerMenuButton Header-navOpen--white" aria-label="Open navigation.">
      </button>
    </nav>
  </div>
</header>
<aside class="NavigationDrawer js-header">
  <nav class="NavigationDrawer-nav">
    <div class="NavigationDrawer-header">
      <a href="{{.Site.BaseURL}}">
        <img class="NavigationDrawer-logo" src="/images/go-logo-blue.svg" alt="Go.">
      </a>
      <button class="NavigationDrawer-close js-headerMenuButton" aria-label="Close navigation.">
      </button>
    </div>
    <ul class="NavigationDrawer-list">
      {{- range .Site.Menus.main}}
        {{- $url := .URL}}
        {{- if and (not $currentPage.Site.IsServer) (eq .Identifier "learn")}}
          {{- $url = "https://learn.go.dev"}}
        {{- end}}
        {{- if not $currentPage.Site.IsServer}}
          {{- $url = $url | absURL}}
        {{- end}}
        <li class="NavigationDrawer-listItem {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.CurrentSection.Title .Title)}} NavigationDrawer-listItem--active{{end}}">
          <a href="{{$url}}" title="{{.Title}}">{{.Name}}</a>
        </li>
      {{- end}}
    </ul>
  </nav>
</aside>
<div class="NavigationDrawer-scrim js-scrim" role="presentation">
</div>
<main class="Site-content">
  {{- block "main" . -}}{{- end -}}
</main>
<footer class="Site-footer">
  <div class="Footer">
    <div class="Container">
      <div class="Footer-links">
        {{- range .Site.Menus.footer}}
          <div class="Footer-linkColumn {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.CurrentSection.Title .Title)}} Header-menuItem--active{{end}}">
            {{partial "footer/link.html" (dict "menuItem" . "Site" $currentPage.Site)}}
            {{- range .Children}}
              {{partial "footer/link.html" (dict "menuItem" . "Site" $currentPage.Site)}}
            {{end}}
          </div>
        {{- end}}
      </div>
    </div>
  </div>
  <div class="Footer">
    <div class="Container Container--fullBleed">
      <div class="Footer-bottom">
        <img class="Footer-gopher" src="/images/gopher-footer.jpg" alt="The Go Gopher">
        <ul class="Footer-listRow">
          <li class="Footer-listItem"><a href="/copyright">Copyright</a></li>
          <li class="Footer-listItem"><a href="/tos">Terms of Service</a></li>
          <li class="Footer-listItem"><a href="http://www.google.com/intl/en/policies/privacy/" target="_blank">Privacy Policy</a></li>
          <li class="Footer-listItem">
            <button class="js-feedbackButton Footer-feedbackButton">
              Report an issue
            </button>
          </li>
        </ul>
        <a class="Footer-googleLogo" target="_blank" href="https://google.com" rel="noopener noreferrer">
          <img class="Footer-googleLogoImg" src="/images/google-grey.png" alt="Google logo">
        </a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
