*,
:before,
:after {
  box-sizing: border-box;
}
html,
.Site {
  height: 100%;
}
a,
a:link,
a:visited {
  color: #007d9c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.Site {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.Site--blue {
  background: linear-gradient(45deg, #007d9c 35%, #00a29c) no-repeat center center fixed;
}
.Site-content {
  flex: 1;
}
.Site-footer {
  background-color: #253443;
  color: #fff;
  font-size: 14px;
}
.Header,
.Footer,
.Container {
  margin: 0 auto;
  max-width: 75.75rem;
}
.Container--fullBleed {
  margin: 0;
  max-width: none;
}
.Header {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 1.5rem;
}
.Header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Header--dark {
  border-bottom: none;
  color: #fff;
}
.Header-logo {
  display: block;
  height: 32px;
  width: 82px;
  margin: 1rem 0;
}
.Header-menuItem {
  display: none;
}
.Header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 57.7rem) {
  .Header-menuItem {
    display: inline-flex;
  }
}
.Header-menuItem a:link,
.Header-menuItem a:visited {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent; /* To ensure the text remains centered. */
  color: #3e4042;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  width: 100%;
  margin: 0 15px;
  text-align: center;
}
.Header--dark .Header-menuItem a:link,
.Header--dark .Header-menuItem a:visited {
  color: #fff;
}
.Header-menuItem--active a:link,
.Header-menuItem--active a:visited {
  border-bottom-color: #00add8;
  font-weight: bold;
}
.Header-menuItem a:hover {
  border-bottom-color: #542c7d;
  color: #3e4042;
}
.Article {
  color: #202224;
  margin: 0 auto 30px;
  max-width: 45em;
}
.Article-author,
.Article-date {
  font-size: 16px;
  line-height: 1.4;
}
.Article-date {
  color: #6e7072;
}
.Article h1,
.Article h2,
.Article h3,
.Article h4,
.Article h5,
.Article h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.Article h1 {
  font-size: 30px;
}
.Article h2 {
  font-size: 24px;
}
.Article h3 {
  font-size: 18px;
}
.Article h4,
.Article h5,
.Article h6 {
  font-size: 16px;
}
.Article p,
.Article ul,
.Article ol {
  color: #555759;
  font-size: 18px;
  line-height: 1.6;
}
.Article pre {
  background-color: #f8f9f9;
  border: 1px solid #dcdee0;
  border-radius: 6px;
  color: #3e4042;
  font-size: 16px;
  line-height: 1.45;
  overflow-x: auto;
  padding: 24px;
}
.Article pre,
.Article code {
  color: #3e4042;
  font-family: 'Source Code Pro', monospace;
}
.WhoUses-gridContainer,
.WhyGo-gridContainer,
.UseCases-gridContainer,
.LearnGo-gridContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75.75rem;
  padding: 2.625rem 1.5rem;
}
@media only screen and (min-width: 57.7rem) {
  .WhoUses-gridContainer,
  .WhyGo-gridContainer,
  .UseCases-gridContainer,
  .LearnGo-gridContainer {
    flex-direction: row;
  }
}
.WhyGo,
.WhoUses {
  background-color: #fff;
}
.LearnGo,
.UseCases {
  background-color: #f6f8fa;
}
.WhoUses-header,
.UseCases-header,
.WhyGo-header,
.LearnGo-header {
  flex: 0 0 100%;
  text-align: center;
}
.WhoUses-header h2,
.UseCases-header h2,
.WhyGo-header h2,
.LearnGo-header h2 {
  margin-top: 0;
  text-transform: uppercase;
}
.Hero {
  color: #fff;
}
.Hero h1 {
  font-size: 2.625rem;
  line-height: 1.125rem;
}
.Hero h2 {
  font-size: 1.5rem;
  font-weight: normal;
  max-width: 29rem;
}
.Hero-gridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75.75rem;
  padding: 2.625rem 1.5rem 0;
}
.Hero-actions {
  align-items: center;
  display: flex;
  flex: 3 1;
  flex-direction: column;
  justify-content: center;
  padding-right: 24px;
}
.Hero-actions a,
.Hero-actions a:visited,
.Hero-actions a:hover {
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  height: 4rem;
  border: 1px solid #f6f8fa;
  color: #fff;
  font-size: 1.5rem;
  margin: 1.3125rem 1.25rem 0;
  max-width: 13.75rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.Hero-actions a.Primary {
  background-color: #fddd00;
  border: 1px solid #fddd00;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #202224;
}
.Hero-gopher {
  display: flex;
  flex: 2;
  justify-content: flex-end;
}
.Hero-gopherLadder {
  width: 153px;
  height: 355px;
  object-fit: cover;
  object-position: 100% 0;
}
.Hero-blurb {
  margin: auto;
  flex: 0 0 100%;
}
@media only screen and (min-width: 57.7rem) {
  .Hero-actions {
    justify-content: initial;
    flex: 1 1;
  }
  .Hero-actions a,
  .Hero-actions a:visited,
  .Hero-actions a:hover {
    max-width: 17.5rem;
  }
  .Hero-blurb {
    flex: 2 2;
    margin: 0;
  }
  .Hero-gopher {
    flex: 1;
  }
  .Hero-gopherLadder {
    height: 358px;
    width: 183px;
  }
  .Hero h2 {
    max-width: 30rem;
  }
}
.WhoUses-caseStudyList {
  align-content: center;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}
.WhoUses-caseStudy {
  display: flex;
  flex: 0 1 11.375rem;
  justify-content: center;
  margin: 1em;
  min-height: 11.6875rem;
}
.WhoUses-caseStudy p {
  margin-bottom: 0;
}
.WhoUses-caseStudy a:link,
.WhoUses-caseStudy a:visited {
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
  color: #6e7072;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 11.375rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.WhoUses-logo {
  margin: auto;
  max-height: 120px;
  max-width: 150px;
}
@media only screen and (min-width: 57.7rem) {
  .WhoUses-caseStudy {
    flex: 0 1 33%;
    margin: 0;
  }
  .WhoUses-caseStudy a:link,
  .WhoUses-caseStudy a:visited {
    box-shadow: 0 2px 8px 0 transparent;
    color: transparent;
  }
  .WhoUses-caseStudy a:link:hover,
  .WhoUses-caseStudy a:visited:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
    color: #6e7072;
  }
}
@media only screen and (min-width: 66.75rem) {
  .WhoUses-caseStudy {
    flex: 1;
  }
}
