<!--
	Copyright 2010 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{define "layout"}}

<article class="Codewalk Article">

<h1>{{.title}}</h1>

<table class="layout">
{{range .dirs}}
<tr>
	<td><a href="{{.Name}}">{{.Name}}</a></td>
	<td width="25">&nbsp;</td>
	<td>{{.Title}}</td>
</tr>
{{end}}
</table>

</article>

{{end}}
