<!--
	Copyright 2009 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->

{{define "layout"}}

<article class="Error Article">

<h1>to, err := human()</h1>

<p>
<span class="alert" style="font-size:120%">{{.error}}</span>
</p>

</article>

{{end}}
